<form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete message?</p>
    {{ form }}
    <input type="submit" value="Confirm">
</form>
<a href="http://127.0.0.1:8000/chat/"><button>Cancel</button></a>